src/resources/products.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="stores">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="store">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="product" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="1" name="name"/>
                                        <xs:element maxOccurs="1" name="count"/>
                                    </xs:sequence>
                                    <xs:attribute name="id_product" type="xs:int"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id_store" type="xs:int"/>
                        <xs:attribute name="name_store" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>